* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    padding: 0 50px;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr ;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 200px;
}

img {
    height: 106px;
    display: block;
    max-width: 100%;
    margin: 0 -28px;
}

h2 {
    font-weight: 400;
    font-family:Helvetica, sans-serif;
    font-size: 28px;
    color: #1c1e21;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    
}

form a, input, button {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    display: block;
    margin-bottom: 12px;
}

input[placeholder] {
    font-weight: 100;
    font-family:  Helvetica, sans-serif;
}

input::placeholder {
    font-size: 18px;
    color: #1d2129;
    opacity: 0.4;
}

.Entrar[type="submit"] {
    text-align: center;
    padding-left: 150px;
    font-size: 1.2rem;
    font-weight: 700;
}

.Entrar {
    font-family:  Helvetica, sans-serif;
    color: #fff;
    width: 100%;
    background-color: #1877f2;
    border: none;
    padding: 16px;
}

a {
    color: #1877f2;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding-top: 16px;
    border-bottom: 2px solid #f0f2f5;
    margin-top: 4%;
    margin-bottom: 10%;
}

.criaConta {
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
}

.criaConta[type="submit"] {
    text-align: center;
    padding-left: 110px;
    font-size: 1.2rem;
    font-weight: 700;
}

p {
    margin-top: 5%;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

p a {
    font-size: 0.9rem;
    font-weight: bold;
    color: #1c1e21;
}